pipeline/adb.json
{
	"name": "adb",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ds_rawat_outlook.com#ext#@dsrawatoutlook.onmicrosoft.com/Processed_layer",
					"baseParameters": {
						"filename": {
							"value": "@pipeline().parameters.filename",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@activity('Notebook1').output.runOutput",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string",
				"defaultValue": "jop"
			}
		},
		"variables": {
			"output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-27T18:19:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}